{% extends 'base.html' %}
{% block content %}
    {% for post in posts %}
        <div class="row">
            <div class="col-md-10 col-sm-9">
                <h3>{{ post.title }}</h3>
                <img class="img-blogpost" src="/media/{{ post.image }}">
                <div class="row">
                    <div class="col-xs-9">
                        <p>{{ post.content|truncatewords:30 }}</p>
                        <p><a href="{% url 'post_detail' post.id %}"  class="btn btn-default">Read more</a></p>
                        <p><span class="boldtext">Published on:</span> {{ post.published_date }} </p>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    {% endfor %}
{% endblock %}