{% extends 'base.html' %}
{% block content %}


    <div class="container">
        <div class="row">
        <!-- Blog Posts Column -->
              <div class="col-lg-8">
                  {% for post in posts %}
                    <h1 class="mt-4">{{ post.title }}</h1>
                    <hr>
                    
                    <p> {{ post.published_date }} </p>
                    <img class="img-fluid" src="/media/{{ post.image }}">
                    <hr>
            
                    <p class="lead">{{ post.content|truncatewords:30 }}</p>
                    <p><a href="{% url 'post_detail' post.id %}"  class="btn btn-default">Read more</a></p>
                 {% endfor %}
              </div>

        <!-- Sidebar Widgets Column -->
              <div class="col-md-4">
                    <div class="card my-4">
                      <h5 class="card-header">Products</h5>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                              <li>
                                <a href="#">Product1<</a>
                              </li>
                            </ul>
                          </div>
                          <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                              <li>
                                <a href="#">Product1</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
        </div>
    </div>
    

    
{% endblock %}