{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
      <!-- Post Content Column -->
        <div class="col-lg-8 mb-5">
            <h1 class="mt-4"> {{ post.title }} </h1>
            <hr>
            <p>Posted: {{ post.published_date }}</p>
            <hr>

            {% if post.image %}
                <img class="img-fluid rounded img-blogpost" src="/media/{{ post.image }}">
            {% endif %}
            <hr>
            
            <p class="lead"> {{ post.content }} </p>
    
            <blockquote class="blockquote">
              <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor.</p>
              <footer class="blockquote-footer">Writer
                <cite title="Source Title">Carl Madison</cite>
              </footer>
            </blockquote>
            
            <a href="{% url 'get_posts' %}" class="btn btn-dark rounded-0">Back to Blog →</a>
    
        </div>
    
    <!-- Sidebar Widgets Column -->
              <div class="col-md-4">
                    <div class="card my-4">
                      <h5 class="card-header">Products</h5>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                              <li>
                                <a href="#">Product1<</a>
                              </li>
                            </ul>
                          </div>
                          <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                              <li>
                                <a href="#">Product1</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
        </div>
    </div>
    
    
    
{% endblock %}