{% extends 'base.html' %}

{% block content %}

<section class="products-showcase">
	   <div class="container">
           <div class="row row-header card-columns justify-content-center">
           <div class="card-deck">
        {% if not products %} 
                  <div>
                     <p>No Products found</p>
                  </div>
            {% else %}
              {% for product in products %}
                    <div class="col-xs-12 col-md-6 col-lg-3 header-first">
                        <div class="card text-center" style="width: 18rem;">
                            <a href="{% url 'product_detail' product.id %}"  class="image-product-link"><img src="{{MEDIA_URL}}{{product.image}}" class="card-img-top product-image" alt="{{product.name}}" /></a>
                            <div class="card-body">
                                <h5 class="card-title product-name"><a href="{% url 'product_detail' product.id %}"  class="title-product-link">{{ product.name }}</a></h5>
                            <!-- <p class="card-text product-description">{{ product.description }}</p> -->
                                <p class="product-price">€ {{ product.price }}</p>
                            </div>
                            <form method="post" action="{% url 'add_to_cart' product.id %}">
                            {% csrf_token %}
                            <div class="input-group add-checkout-div">
                                <input class="input-add-checkout"  name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Qty">
                                <span class="input-group-btn">
                                    <button class="btn btn-dark rounded-0 btn-sm" type="submit">Add to Cart</button>
                                </span>
                            </div>
                        </form>
                        </div>
                    </div>
              {% endfor %} 
             {% endif %}
           </div>
        </div>    
	</section>
	
{% endblock %}