
body, html {
    background-color: yellow;
}


.col-centered{
    float: none;
    margin: 0 auto;
}

/* ----------------------------------------------------------------------------------------
                                 1. NavBar-Search CSS
 --------------------------------------------------------------------------------------- */

.navbar {
    color: black;
    background-color: white;
    border-bottom: 1px grey;
}



/* ----------------------------------------------------------------------------------------
                                 2. Products Page CSS 
 --------------------------------------------------------------------------------------- */

.products-showcase {
    Padding-top: 70px;
    padding-bottom: 70px;
    
}
 
 
.jumbotron {
    background: white url("/static/img/ecommerce-header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 20em;
    filter: brightness(50%);
}


.title-homepage {
    text-align: center;
    color: white;
    vertical-align: middle;
}

.card {
  border: 0px solid;
  border-radius: 0px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.add-checkout-div {
    padding-right: 1em;
    padding-left: 1em;
}

.input-add-checkout {
    
}

.btn-add-cart {
    border-radius: 0px;
    border-color: black;
    border: 1px solid;
    background-color: white;
    color: black;
}

.btn-add-cart:hover {
    background-color: black;
    color: white;
}


/* Parallax div product page */

.parallax {
    background: url("/static/img/ecommerce-header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 15em;
    background-attachment: fixed;
    filter: brightness(50%);
}

/* Blog entries section - products page */


/* ----------------------------------------------------------------------------------------
                                 3. Checkout Page CSS 
 --------------------------------------------------------------------------------------- */
 



/* ----------------------------------------------------------------------------------------
                                 3. Footer CSS 
 --------------------------------------------------------------------------------------- */
 
 
 #myFooter {
    background-color: #3c3d41;
    color: white;
    padding-top: 30px;
}

#myFooter .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}



#myFooter .btn {
    color: white;
    background-color: #d84b6b;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}


/* ----------------------------------------------------------------------------------------
                                 4. Media Queries 
 --------------------------------------------------------------------------------------- */
 

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}

