
body, html {
    font-family: helvetica;
}


.col-centered{
    float: none;
    margin: 0 auto;
}

/* ----------------------------------------------------------------------------------------
                                 1. NavBar-Search CSS
 --------------------------------------------------------------------------------------- */

.navbar {
    color: black;
    background-color: white;
    border-bottom: 1px solid #f5f5f3;
    margin-bottom: -8px;
    padding-left: 2em;
    padding-right: 2em;
}


.navbar li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: small;
}

.btn-dark, .form-control {
   border-radius: 0;
   text-transform: uppercase;
}

.btn-dark {
   padding-top: 2px;
   padding-bottom: 2px;
}

input[placeholder="Search"]{
   font-size: small;
}

input {
   border-radius: 0;
}

/* ----------------------------------------------------------------------------------------
                                 2. Products Page CSS 
 --------------------------------------------------------------------------------------- */

.products-showcase {
    Padding-top: 70px;
    padding-bottom: 70px;
    
}
 
 
.jumbotron {
    background: white url("/static/img/ecommerce-header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 20em;
    filter: brightness(40%);
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.row-images {
    display: flex;
    justify-content:space-between;
}

.img-mini-banner {
   width:100%;
   
}


.title-homepage {
    text-align: center;
    color: yellow;
    vertical-align: middle;
    font-weight: 200;
    font-size: 3em;
}

.card {
  border: 0px solid;
  border-radius: 0px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.add-checkout-div {
    padding-right: 1em;
    padding-left: 1em;
}



/* Parallax div product page */

.parallax {
    background: url("/static/img/ecommerce-header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 15em;
    background-attachment: fixed;
    filter: brightness(50%);
}

.input-add-checkout {
    width: 30%;
    margin-left: 2em;
}

.title-product-link {
    text-transform: uppercase;
    color: black;
    font-size: medium;
}

/* Blog entries section - products page */

.img-fluid {
    object-fit: cover;
}




/* ----------------------------------------------------------------------------------------
                                 3. Product detail Page CSS 
 --------------------------------------------------------------------------------------- */
 
.add-checkout-div-product {
    padding-top: 2em;
}


/* ----------------------------------------------------------------------------------------
                                 3. Cart Page CSS 
 --------------------------------------------------------------------------------------- */
 
.input-cart {
    width: 20%;
}

.div-checkout-pay {
    text-align: right;
    padding-right: 3em;
}


.list-unstyled li a {
    color: black;
    text-decoration: none;
}

.list-unstyled li a:hover {
    color: grey;
}

.votes-form {
    display: inline-flex;
}

/* ----------------------------------------------------------------------------------------
                                 3. Footer CSS 
 --------------------------------------------------------------------------------------- */

.mini-banner-section {
    padding: 2em;
}
 
 #myFooter {
    background-color: #3c3d41;
    color: white;
    padding-top: 30px;
}

.footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
}


.footer-copyright p {
    margin: 10px;
    color: #ccc;
    text-transform: uppercase;
    font-size: smaller;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 20px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
    color: #f9f9f9;
}


.footer-links {
    text-align: center;
    text-transform: uppercase;
}


/* ----------------------------------------------------------------------------------------
                                 4. Media Queries 
 --------------------------------------------------------------------------------------- */
 

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}

