{% load staticfiles %}

<html>

<head>
    <title>{% block page_title %}{% endblock %}</title>
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Fontawosome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    
    <!-- Checkout JS -->
    {% block head_js %}
    {% endblock head_js %}
</head>

<body>
    <!-- Navbar  -->
        <nav class="navbar navbar-expand-lg navbar-light sticky-top pl-4 pr-4">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'img/BnOLogo.png' %}" width="30" height="30" alt="">
             </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
            <div class="collapse navbar-collapse pl-2" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
     
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'all_products2' %}"> Products <span class="sr-only">(current)</span></a>
                    </li>
                    
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{% url 'get_suggestions' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Product-Suggestions
                            </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'get_suggestions' %}">See all suggestions</a>
                            <a class="dropdown-item" href="{% url 'new_suggestion' %}">Add new suggestion</a>
                        </div>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'get_posts' %}">Blog <span class="sr-only">(current)</span></a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">What´s B&O<span class="sr-only">(current)</span></a>
                    </li>
            
                 </ul>
                 
                 <ul class="navbar-nav pr-3">
                     
            <!-- Registration Links --> 
            
                  <li class="nav-item dropdown">
                       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             My Account
                           </a>
                       <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                           {% if user.is_authenticated %}
                           <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                           <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                           {% else %}
                           <a class="nav-link" href="{% url 'login' %}">Login</a>
                           <a class="nav-link" href="{% url 'registration' %}">Register</a>
                           {% endif %}
                       </div>
                   </li>
            <!-- ------------------- --> 
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'view_cart' %}">
                            <i class="fas fa-shopping-cart"></i> Cart
                            {% if product_count > 0 %}
                            <label class="badge badge-warning">{{ product_count }}</label>
                            {% endif %}
                        </a>
                     </li>
                </ul>
                
                <form  action="{% url 'search' %}" method="get" class="form-inline my-2 my-lg-0">
                    <input class="form-control rounded-0 mr-0" name="q" type="search" placeholder="Search" aria-label="Search">
                    <button type="search" class="btn btn-dark btn-sm rounded-0">Search</button>
                </form>
            </div>
    </nav>
    
    <!-- Body Content -->
    <h1>
        {% block page_heading %}{% endblock %}
    </h1>

    {% if messages %}
        <div>
            {% for message in messages %} {{ message }} {% endfor %}
        </div>
    {% endif %} 
    
    {% block content %} {% endblock %}
    
    <!-- Footer -->
    
    <footer id="myFooter">
        <div class="container mt-5">
            <hr>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <a class="" href="{% url 'all_products2' %}"> <img src="{% static 'img/footerbanner2.jpg' %}"></img></a>
                </div>
                <div class="col-sm-12 col-md-4 footer-links">
                    <h5>B&O Shop</h5>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'all_products2' %}">Products</a></li>
                        <li><a href="{% url 'get_posts' %}">Blog</a></li>
                        <li><a href="{% url 'about' %}">Company Information</a></li>
                    </ul>
                    <div class="social-networks">
                        <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
                        <a href="#" class="google"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <a class="logo" href="{% url 'index' %}"> <img src="{% static 'img/footer_banner.jpg' %}"></img></a>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2019 B&O Copyright </p>
        </div>
    </footer>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
</body>

</html>